@model IEnumerable<StorageIndexModel>
<div>
    <a href="@Url.Action("CreatePersonal")" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 追加</a>
        <div class="btn-group pull-right">
            @if (ViewBag.HasPreview)
            {
                <button class="btn btn-default btn-retrieve-list" data-url="@Url.Action("List", new {skip = (ViewBag.Skip - 10), take = 10})"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button>
            }
            else
            {
                <button class="btn btn-default disabled"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></button>
            }
            @if (ViewBag.HasNext)
            {
                <button class="btn btn-default btn-retrieve-list" data-url="@Url.Action("List", new { skip = (ViewBag.Skip + 10), take = 10 })"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>
            }
            else
            {
                <button class="btn btn-default disabled"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></button>
            }
            <button class="btn btn-default btn-retrieve-list btn-refresh-list pull-right" data-url="@Url.Action("List", new {skip = ViewBag.Skip, take = ViewBag.Take})"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </div>
</div>
<table class="table table-hover">
    <tr>
        <th class="col-xs-3 col-sm-3 col-md-3">@Html.DisplayNameFor(model => model.Name)</th>
        <th class="col-xs-2 col-sm-2 col-md-2 text-center">@Html.DisplayNameFor(model => model.StorageType)</th>
        <th class="col-xs-2 col-sm-2 col-md-2 text-right">@Html.DisplayNameFor(model => model.ThresholdSize)</th>
        <th class="col-xs-2 col-sm-2 col-md-2 text-right">@Html.DisplayNameFor(model => model.UsedSize)</th>
        <th class="col-xs-1 col-sm-1 col-md-1 text-right"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="text-center">@Html.DisplayFor(modelItem => item.StorageType)</td>
            <td class="text-right">@Html.DisplayFor(modelItem => item.ThresholdSize)</td>
            <td class="text-right">@Html.DisplayFor(modelItem => item.UsedSize)</td>
            <td class="text-right">
                <button class="btn btn-xs btn-info btn-modal-view" data-url="@Url.Action("Detail", new {id = item.Id})"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
    }
</table>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
