@model BlobIndexModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">詳細</h4>
</div>
<div class="modal-body">
    <dl class="wrapper1">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        @if (Model.CacheControl != null)
        {
            <dt>@Html.DisplayNameFor(model => model.CacheControl)</dt>
            <dd>@Html.DisplayFor(model => model.CacheControl)</dd>
        }
        @if (Model.ContentDisposition != null)
        {
            <dt>@Html.DisplayNameFor(model => model.ContentDisposition)</dt>
            <dd>@Html.DisplayFor(model => model.ContentDisposition)</dd>
        }
        @if (Model.ContentEncoding != null)
        {
            <dt>@Html.DisplayNameFor(model => model.ContentEncoding)</dt>
            <dd>@Html.DisplayFor(model => model.ContentEncoding)</dd>
        }
        @if (Model.ContentLanguage != null)
        {
            <dt>@Html.DisplayNameFor(model => model.ContentLanguage)</dt>
            <dd>@Html.DisplayFor(model => model.ContentLanguage)</dd>
        }
        @if (Model.ContentMD5 != null)
        {
            <dt>@Html.DisplayNameFor(model => model.ContentMD5)</dt>
            <dd>@Html.DisplayFor(model => model.ContentMD5)</dd>
        }
        @if (Model.ContentType != null)
        {
            <dt>@Html.DisplayNameFor(model => model.ContentType)</dt>
            <dd>@Html.DisplayFor(model => model.ContentType)</dd>
        }
        <dt>@Html.DisplayNameFor(model => model.ETag)</dt>
        <dd>@Html.DisplayFor(model => model.ETag)</dd>
        <dt>@Html.DisplayNameFor(model => model.Size)</dt>
        <dd>@Html.DisplayFor(model => model.Size)</dd>
        <dt>@Html.DisplayNameFor(model => model.CreatedUtcDateTime)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedUtcDateTime)</dd>
        <dt>@Html.DisplayNameFor(model => model.LastModifiedUtcDateTime)</dt>
        <dd>@Html.DisplayFor(model => model.LastModifiedUtcDateTime)</dd>
        @if (Model.Metadata.Any())
        {
            <dt>@Html.DisplayNameFor(model => model.Metadata)</dt>
            <dd>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th class="col-xs-2">Key</th>
                        <th class="col-xs-3">Value</th>
                    </tr>
                    @foreach (var metadata in Model.Metadata)
                    {
                        <tr>
                            <td>@metadata.Key</td>
                            <td>@metadata.Value</td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
